<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Email Title</title>
</head>
<body style="margin: 0; padding: 0;">

    <!-- <ul>
        {% for user in users %}
            <li>{{ user.id }} - {{ user.email }}</li>
        {% endfor %}
    </ul> -->

  <table style="width: 100%; background-color: #f2f2f2; border-bottom: 1px solid #ccc;">
    <tr>
      <td style="padding: 20px;">
        </td>
    </tr>
  </table>

  <table style="width: 100%; background-color: #fff; padding: 20px;">
    <tr>
      <td>
        <h1>Your OTP Code</h1>
        <p>Use the code below</p>
        <!-- <p>
            {% for user in users %}
                <li>{{ user.id }} - {{ user.email }}</li>
            {% endfor %}
        </p> -->
        <p><a href="#" style="background-color: #4CAF50; color: #fff; padding: 10px 20px; text-decoration: none;"> {{ code }} </a></p>
      </td>
    </tr>
  </table>

  <table style="width: 100%; background-color: #f2f2f2; border-top: 1px solid #ccc; padding: 20px;">
    <tr>
      <td style="text-align: center;">
        <p>© 2023</p>
        <!-- <p>Unsubscribe link or social media icons</p> -->
      </td>
    </tr>
  </table>

</body>
</html>
